body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}

.appContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-size: larger;
  font-weight: 600;
  background-color: #121212; 
  color: #ffffff; 
}
